{% extends "layout/base.html"%}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
    <h1>Dashboard</h1> <br>

    <div class="d-flex justify-content-center">
      <h3>Selamat Datang {{ request.user.username}}</h3>
    </div> <hr>

    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Barang</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Barang Masuk</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Barang Keluar</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div> -->
    
</div>

{% endblock %}