{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock %} 

{% block content %}
{% include "layout/alert.html" %}

<form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="">
            <h1 class="text-center">Login</h1> <hr>
                {{ form.as_p }}
            <div class="">
                <button type="submit" class="btn btn-success" value="save">Login</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
