{% extends "layout/base.html" %}

{% block title%}Tambah Barang{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <h1>Add Product</h1> <hr> <br>
                <table>
                    {{ form.as_table }}
                </table>
                <div> <br>
                    <input type="submit" class="btn btn-sm btn-success" value="Tambah">
                    <a class="btn btn-sm btn-secondary" type="button" href="{% url 'product:product-list' %}">Kembali</a>
                </div>
            </div>
            
        </div>
    </form>    
</div>

{% endblock %}