{% extends "layout/base.html"%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% include "layout/navbar.html"%}
{% include "layout/alert.html"%}

<div class="container">
    <h1>Data Barang</h1> 
</div>

<div class="container mt-5 p-3 border rounded">
    <div class="d-flex align-items-center">
        <div>
            <h4>Filter Barang</h4> <br>
            <form action="" method="GET" class="d-flex">
                <input type="text" name="nama_barang" value="" class="form-control" placeholder="Cari Nama Barang"/>
                <button class="btn btn-sm btn-success mx-2" name="search">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4 p-5 border rounded">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href="{% url 'tambah-barang' %}" class="btn btn-primary px-5 btn-sm">Tambah barang</a>
            <a href="{% url 'cetak-barang' %}" class="btn btn-success px-5 btn-sm">Cetak</a>
            
        </div>
    </div>
    <br />
            <table class=" text-center table table-bordered">
                <thead>
                    <tr>
                        <th>Nama Barang</th>
                        <th>Harga</th>
                        <th>Satuan</th>
                        <th>Kategori</th>
                        <th>Jumlah</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td>{{ x.nama_barang }}</td>
                        <td>Rp. {{ x.harga_barang }}</td>
                        <td>{{ x.satuan }}</td>
                        <td>{{ x.kategori }}</td>
                        <td>{{ x.qty }}</td>
                          {% if x.qty == 0 %}
                        <td><span class="badge text-bg-danger">Habis</span></td>
                          {% else %}
                        <td><span class="badge text-bg-success">Tersedia</span></td>
                          {% endif %}
                        <td>
                            <a href="{% url 'update-barang' x.id %}" class="btn btn-sm btn-warning">Update</a>
                            <a href="{% url 'delete-barang' x.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div> <br>

{% include "layout/paginator.html" %}

{% endblock %}